#text-data {
	padding-top: 3em;
	padding-bottom: 5em;
	width: 728px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.05em;

	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

a {
	color: #3498db;
}

a:visited {
	color: #8e44ad;
}

p {
	color: #333;
	line-height: 1.7;
	font-size: 1.1em;
	padding-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
}

/* Image captions */
img + em {
	display: block;
	font-size: 12px;
}
